/*** CSS for Zachary B. Feldman ***/

/*** BASICS ***/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: #0437F2;
    font-family: 'Avenir', sans-serif;
    color: #f6f8ff;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 14px;
    margin: 25px 0px 25px 25px;
}

p{
    font-size: 12px;
    margin: 10px 0 10px 0;
}

::selection {
    background: #000080;
    color: #FFA500;
}

sup{
    font-size: 9px;
}

a:link {
    color: #f6f8ff;
    text-decoration: none;
}

a:visited{
    color: #f6f8ff;
    text-decoration: none;
}

a:hover{
    color: #f6f8ff;
    text-decoration: underline;
}

a:active{
    color: #f6f8ff;
    text-decoration: underline;
}

img{
    width: 100%;
    height: auto;
    
    background-image: url('img/lazy-load_01.png'); /* Small placeholder image */
    background-size: cover;
    background-color: #0431d9;
}


/*** CONTAINER GRID ***/
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-rows: minmax(10px, auto); */

    grid-template-rows: 100px auto 50px;
    grid-template-areas:
        "header main main main main"
        "sidebar main main main main"
        "footer main main main main";

    word-wrap: break-word;
    width: 100vw;
    height: 100vh;
    height: 100dvh; 
}

.container > div {
  background-color: #0437F2;
  text-align: left;
  font-size: 12px;
}


/*** HEADER ***/
.header{
    grid-area: header;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */

    border-right: #f6f8ff 1px solid;
    border-left: #f6f8ff 1px solid;
    border-top: #f6f8ff 0.5px solid;
    border-bottom: #f6f8ff 0px solid;
}

.header-container{
    margin: 15px 25px auto 30px;
}


/*** SIDEBAR ***/
.sidebar{
    grid-area: sidebar;
    /*** SCROLLBAR ***/
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #f6f8ff #0437F2;

    border-right: #f6f8ff 1px solid;
    border-left: #f6f8ff 1px solid;
    border-top: #f6f8ff 0.5px solid;
    border-bottom: #f6f8ff 0.5px solid;

    max-height: 100vh; 
    max-height: 100dvh; 
    overflow-y: auto;
}

.sidebar-container{
    display: block;
    margin: 5px;
    /* height: 100%; */
}

/* For WebKit (Chrome, Edge, Safari) */
.sidebar-container::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

.sidebar-container::-webkit-scrollbar-track {
    background: #0437F2; /* Track color */
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #f6f8ff; /* Handle color */
}

/* Scrollbar changes on hover */
.sidebar-container::-webkit-scrollbar-thumb:hover {
    background-color: #9a9b9f; /* Darker color on hover */
    width: 3px; /* Make it thicker on hover */
}

#date{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #f6f8ff;
}

#projects{
    margin: 5px 15px 25px 35px; /*5px 15px 35px 45px;*/
    font-size: 14px;
}

#projects p{
    font-size: 14px;
    margin: 10px 0 10px 0;
}

/* Dropdown Menu*/
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

/* Style when dropdown is active */
.dropdown-active .dropdown-content {
    display: block;
}


/** sidebar.js **/
.current-page {
    text-decoration: underline !important;
    font-weight: 700;
}


/*** MAIN ***/
.main{
    grid-area: main;
    height: 100vh;
    height: 100dvh; 
    overflow-y: auto;
    overflow-x: hidden;

    /*** SCROLLBAR ***/
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #f6f8ff #0437F2;

    border-right: 1px #f6f8ff solid;
    border-top: 1px #f6f8ff solid;
    border-bottom: 1px #f6f8ff solid;
}

.main-container{
    display: block;
    margin: 30px 10% 50px 100px; /*25px 10% 100px 10%*/
}

.main-container p{
    font-size: 16px;
    line-height: 24px;
}

/* For WebKit (Chrome, Edge, Safari) */
.main::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

.main::-webkit-scrollbar-track {
    background: #0437F2; /* Track color */
}

.main::-webkit-scrollbar-thumb {
    background-color: #f6f8ff; /* Handle color */
}

/* Scrollbar changes on hover */
.main::-webkit-scrollbar-thumb:hover {
    background-color: #9a9b9f; /* Darker color on hover */
    width: 3px; /* Make it thicker on hover */
}

.headshot{
    width: 75%;
}

#title-container{
    display: block;
    padding-bottom: 25px;
    width: 75%;
}

#title-container h1{
    margin-bottom: 25px;
    margin-top: 0;
}

#title-container p{
    line-height: 20px;
}

#image-container{
    display: block;
    margin-top: 0px;
    width: 75%;
    margin-bottom: 25px;
}

#image-container p{
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 15px;
}

#text-container{
    width: 75%;
    height: auto;
}

#text-container p{
    margin-bottom: 25px;
}

#text-container a{
    text-decoration: underline;
}

#book-cover{
    width: 50%;
}

/************************/
/****** PDF VIEWER ******/
/************************/
#pdf-container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 750px;
    background: url('/img/lazy-load_01.png') no-repeat center center;
    background-size: cover; /* Cover the entire container */
    margin-bottom: 25px;

    border: 1px solid #f6f8ff;
}

#adobe-dc-view {
    width: 100%;
    height: 800px;
    background: url('/img/lazy-load_01.png') no-repeat center center;
    border: 1px solid #f6f8ff;
}


/************************/
/************************/

/****************************/
/******* CONTACT FORM *******/
/****************************/
form {
    background-color: transparent;
    display: block;
    width: 75%;
    height: auto;

    text-align: left;
}

fieldset {
    padding: 0px;
    border: none;
}

input, textarea, button {
    width: 100%;
}

input {
    background-color: #f6f8ff;
    border-radius: 2px;
    border: none;
}

input:hover {
    background-color: #d9dae0;
}

input:focus {
    background-color: #f6f8ff;
}

textarea {
    overflow:auto;
    resize:none;
    width: 100%;
    height:auto;
    background-color: #f6f8ff;
    border: none;
    border-radius: 2px;

    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #f6f8ff #0437F2;
}

textarea:hover {
    background-color: #d9dae0;
}

textarea:focus {
    background-color: #f6f8ff;
}

/* For WebKit (Chrome, Edge, Safari) */
textarea::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

textarea::-webkit-scrollbar-track {
    background: #0437F2; /* Track color */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #f6f8ff; /* Handle color */
}

/* Scrollbar changes on hover */
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #9a9b9f; /* Darker color on hover */
    width: 3px; /* Make it thicker on hover */
}

label{
    font-size: 14px;
    font-weight: 400;
}

#name, #email, #subject, #message{
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
}

button{
    height: 3em;
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    color: #f6f8ff;
    background-color: transparent;
    border: 1px solid #f6f8ff;
    border-radius: 2px;
}

button:hover{
    background-color: #022194;
    color: white;
    cursor: pointer;
    border: 2px solid #f6f8ff;
}

/* Result message */
.result-message {
    color: #28a745; /* Success color, change as needed */
    background-color: #dff0d8; /* Light background, change as needed */
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-size: 1.2em; /* Larger text */
}

.result-message.error {
    color: #dc3545; /* Error color */
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
/****************************/
/****************************/

/***************************/
/********** CLOCK **********/
/***************************/
:root { 
    --red: #0326a7;
    --green: #0326a7;
    --blue: #0326a7;
}

.clock-container {
    display: block;
    position: relative;
    width: 100%;
    height: 700px;
}

.clock {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    transform: rotate(180deg) translate(50%, 50%); /* Adjust position */
    top: 55%;
    left: 50%;
}

.second { 
    --width: 2px;
    --height: 230px;
    --color: var(--red);
}

.minute { 
    --width: 3px;
    --height: 180px;
    --color: var(--green);
}

.hour { 
    --width: 3px;
    --height: 120px;
    --color: var(--blue);
}

.hand {
    position: absolute;
    top: 50%;
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
    transform-origin: center 0;
    /*border-radius: calc(var(--width) / 2);*/
    z-index: 2;
}

.clock-indicator {
    background-color: #032cc0; /* Indicator color */
    border-radius: 1px;
}

.major-indicator {
    background-color: #032cc0; /* Different color for major indicators */
}

.clock-axis {
    background: #032cc0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/******************************************/
/******************************************/

/************************/
/******* LIGHTBOX *******/
/************************/
#lightbox {
    position: fixed; /* Fixed position to cover the whole viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Semi-transparent background */
    z-index: 2000; /* High z-index to be on top of other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

#lightbox img {
    max-width: 100%; /* Max width of the image */
    max-height: 100%; /* Max height of the image */
    height: auto; /* Maintain aspect ratio */
    width: auto; /* Maintain aspect ratio */
}

#close-lightbox {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #f6f8ff;
    cursor: pointer;
}
/************************/
/************************/

/************************/
/***** SOCIAL ICONS *****/
/************************/
.fa {
    width: 100px;
    height: auto;
    padding: 0px;
    font-size: 100px;
    width: 50px;
    text-align: left;
    text-decoration: none !important;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    color: #f6f8ff;
}
/************************/
/************************/

/*** FOOTER ***/
.footer{
    grid-area: footer;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    border-right: #f6f8ff 1px solid;
    border-left: #f6f8ff 1px solid;
    border-top: #f6f8ff 0px solid;
    border-bottom: #f6f8ff 1px solid;
}

#credit{
    margin-left: 25px;
    font-size: 9px;
    color: #3560fc;
}


/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

/********************/
/****** MOBILE ******/
/********************/
.hamburger-menu {
    display: none; /* Show the hamburger menu */
    position: fixed; /* Fixed position */
    top: 25px; /* Adjust as needed for vertical alignment */
    right: 20px; /* Adjust as needed for horizontal alignment */
    z-index: 1000; /* Ensure it's above other content */
    cursor: pointer;
    background-color: transparent !important;
}

.hamburger-menu span {
    display: block;
    width: 25px; /* Width of the bar */
    height: 3px; /* Height of the bar */
    margin: 5px 0; /* Space between bars */
    background-color: #f6f8ff; /* Color of the bar */
    transition: all 0.3s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    width: 35px; /* Longest line */
}

.hamburger-menu span:nth-child(2) {
    width: 25px; /* Shorter line */
}

.hamburger-menu span:nth-child(3) {
    width: 15px; /* Shortest line */
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
    width: 35px;
}

@media screen and (max-width: 1080px) {
    .hamburger-menu {
        display: block;
        background-color: transparent !important;
        z-index: 1000;
    }

    /* Sidebar */
    .sidebar {
        position: fixed;
        left: -100%; /* Start off-screen to the left */
        top: 0;
        height: 100%;
        width: 100%; /* Adjust width as needed */
        transition: left 0.3s ease;
        z-index: 900; /* Below the hamburger menu */
        overflow-y: auto; /* Enable scrolling */
        border: 1px #f6f8ff solid;
    }

    .sidebar.active {
        left: 0; /* Slide in from the left */
    }

    /* Adjust grid layout for mobile */
    .container {
        display: grid;
        grid-template-areas:
            "header"
            "main";
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto;
        height: 100vh; 
        height: 100dvh; 
    }
    
    /* Header */
    .header{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        z-index: 900;

        border: 1px #f6f8ff solid;
    }

    .header-container{
        margin: 25px;
    }
    
    /* Main */
    .main{
        grid-area: main;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        z-index: 800;
        border-right: 1px #f6f8ff solid;
        border-left: 1px #f6f8ff solid;
        border-top: 1px #f6f8ff solid;
        border-bottom: 1px #f6f8ff solid;
    }
    
    .main-container{
        margin: 25px;
    }

    .main-container p{
        font-size: 16px;
        line-height: 24px;
    }

    .main-container img{
        width: 100%;
        height: auto;
    }

    .headshot{
        width: 100%;
    }

    #title-container{
        width: 100%;
        height: auto;

        padding-bottom: 0;
    }

    #title-container h1{
        margin: 0;
    }

    #image-container{
        width: 100%;
    }

    #book-cover{
        width: 100%;
    }

    #pdf-container {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 600px;
        background: url('/img/lazy-load_01.png') no-repeat center center;
        background-size: cover; /* Cover the entire container */
        margin-bottom: 25px;
    
        border: 1px solid #f6f8ff;
    }

    #adobe-dc-view {
        width: 100%;
        height: 400px;
        background: url('/img/lazy-load_01.png') no-repeat center center;
        border: 1px solid #f6f8ff;
    }

    #lightbox img {
        max-width: 100%; /* Max width of the image */
        max-height: 100%; /* Max height of the image */
        height: auto; /* Maintain aspect ratio */
        width: auto; /* Maintain aspect ratio */
    }

    #text-container{
        width: 100%;
        height: auto;
    }
    
    #book-cover{
        width: 50%;
    }

    .clock-container {
        width: 100%;
        height: 100dvh;
    }

    .clock {
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;
        transform: rotate(180deg) translate(50%, 50%); /* Adjust position */
        top: 300px;
        left: 50%;
    }

    .second { 
        --width: 2px;
        --height: 100px;
        --color: var(--red);
    }
    
    .minute { 
        --width: 3px;
        --height: 90px;
        --color: var(--green);
    }
    
    .hour { 
        --width: 3px;
        --height: 60px;
        --color: var(--blue);
    }

    .clock-axis {
        width: 15px;
        height: 15px;
    }

    /*** Contact Form ***/
    form{
        width: 100%;
        height: auto;
    }

    textarea{
        height: 10em;
    }
    
    /* Footer */
    .footer{
        display: none;
    }

    #credit{
        font-size: 8px;
        color: #3560fc;
    }
    
}



